Options -Indexes

RewriteEngine On

<IfModule mod_headers.c>
  Header always set Cache-Control "no-store, no-cache, must-revalidate"
</IfModule>

RewriteRule ^(?:config|lib|resources)(?:/|$) - [F,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
